<launch>

  <node pkg="tf" type="static_transform_publisher" name="baselink_imu_broadcaster"
        args="-0.38735 0 1.8288 3.14159 0 0 base_link base_imu_link 100" />


  <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>
  <node pkg="razor_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node" output="screen">
  </node>
</launch>
